@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  position: relative;
  width: 1200px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 105px;
  padding: 0 70px;
  width: 1200px;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  flex-grow: 1;
}

.navigation-item {
  list-style-type: none;
  display: flex;
}

.navigation-item2 {
  display: flex;
  gap: 25px;
}


.navigation-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: start;
}

.navigation-link-likes {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;

}

.navigation-link-search {
  background-image: url("../images/search.svg");
  width: 44px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

.likes {
  display: block;
  width: 44px;
  height: 64px;
  background-image: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;

}

.likes-num {
  text-align: center;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  margin-left: 25px;
  align-items: center;
  margin-top: 12px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;

}


.navigation-link-button {
  background: #756157;

  color: #FFFFFF;

  border-radius: 4px;

  padding: 8px 34px;

  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  height: 36px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  gap: 32px;

}
.logoLink {
  z-index: 1;
}

.logo {
  display: block;
}

.my-flex-container {
  display: flex;

}

.index-columns-1 {
  width: 1200px;
  height: 282px;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navigation-user {

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.main-index {
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.photo-1 {
  width: 1200px;
}

.first-title {
  width: 620px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.first-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.photo-2 {
  width: 800px;
}

.photo-3 {
  width: 800px;
}

.advantages-item {
  width: 277px;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  align-content: center;
}

.advantages-color-white {
  background: #FFFFFF;
}

.advantages {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

.advantages-description-white {
  color: #ffffff;
}

.advantages-block {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 80px 85px;
}

.advantages-img {
  margin: auto;
  display: block;
}

.advantages-img1 {
  width: 75px;
  height: 72px;
}

.advantages-img2 {
  width: 74px;
  height: 70px;
}

.advantages-img3 {
  width: 64px;
  height: 76px;
}


.advantages-blue {
  background: #82B3D3;
}

.advantages-gray {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-description {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.second-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.second-title-white {
  color: #FFFFFF;
  flex: none;

}

.navigation-link-button-2 {

  color: #FFFFFF;
  background: #756157;
  border-radius: 10px;

  display: block;
  flex-wrap: nowrap;
  padding: 8px 50px;
  margin-top: 56px;
  box-sizing: border-box;
  border: none;

}

.navigation-link-button-2-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: nowrap;
  margin: 0 auto;
}


.field {
  width: 452px;
  height: 52px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  border: none;
}

.unification {
  border-radius: 10px;
  overflow: hidden;

}

.unification div {


  display: flex;

}

.second-title-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-block4 {
  background-image: url("../images/photo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 1200px;
  height: 414px;
  flex: none;
  box-sizing: border-box;
  background-size: cover;
}

.second-title-p {
  font-style: normal;
  width: 475px;
  height: 52px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  margin-top: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

}

.advantages-description-black {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  display: flex;
  margin-top: 0;
}

.index-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  box-sizing: border-box;
  padding: 96px 304px 104px;
}

.button-subscribe {

  padding: 8px 50px;
  background: #82B3D3;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.contacts-phone {
  width: 331px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  text-decoration: none;
}

.logo-1 {
  width: 114px;
  justify-content: start;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 45px 70px 35px;
  box-sizing: border-box;
}

.footer-social-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;

}

.footer-social-item {
  padding: 0 13px;
  list-style-type: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;

}

.photo-logo-1 {
  display: flex;
  align-items: end;
}

