@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  position: relative;
  width: 1200px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 105px;
  padding: 0 70px;
  Width: 1200px;
  Height: 64px;
}


.wrapper {

}

.navigation-item {
  list-style-type: none;
  display: flex;

}

.navigation-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  display: flex;

  justify-content: start;
}

.navigation-link-likes {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.navigation-link-search {
  background-image: url("../images/Поиск.svg");
  width: 44px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.likes {
  display: block;
  width: 44px;
  height: 64px;
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;

}

.likes-num {
  background-image: url("../images/Rectangle 61.svg");
  background: #7DB54F;
  text-align: center;

  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

}


.navigation-link-button {
  background: #756157;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap ;
  padding: 8px 34px ;

}

.navigation-link-search {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  width: 430px;
  margin: 0;
  display: flex;
  justify-content: start;
  gap: 32px;
}

.logo {
  display: block;

}

.my-flex-container{
  display: flex;
  flex-direction: column;
}

.index-columns-1{
  Width: 1200px;
  height: 282px;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;


}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
  display: flex;
  justify-content: end;
}

.main-index {
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.photo-1 {
  width: 1200px;
}

.first-title {
  width: 620px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

}

.first-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.photo-2 {
  width: 800px;
}

.photo-3 {
  width: 800px;
}

.advantages-item {
  width: 277px;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  align-content: center;
}

.advantages-color-white{
  background: #FFFFFF;
}

.advantages {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-size: 30px;
  text-align: center;

}
.advantages-description-white{
   color: #ffffff;
}

.advantages-block {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 80px 85px;
}

.advantages-img {
 margin: auto;
  display: block;
}

.advantages-img1 {
  width: 75px;
  height: 72px;
}

.advantages-img2 {
  width: 74px;
  height: 70px;
}

.advantages-img3 {
  width: 64px;
  height: 76px;
}



 .advantages-blue {
  background: #82B3D3;
}

.advantages-gray {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-description {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}


.second-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.second-title-white {
  color: #FFFFFF;
  flex: none;

}

.navigation-link-button-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #756157;
}

.field {
  align-items: center;

  flex-direction: row;
  flex: none;
  display: flex;
  width: 452px;
  text-align: center;
  color: #FFFFFF;
}

.second-title-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-block4 {
  background-image: url("../images/photo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 1200px;
  height: 414.86px;
  flex: none;
  box-sizing: border-box;
  background-size: cover;
}

.second-title-p {
  font-style: normal;
  Width: 475px;
  Height:52.51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  margin-top: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

}

.newsletter-email {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 87px;
  Height: 24px;
}

.advantages-description-black {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  display: flex;
  margin-top: 0;
}

.index-columns{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  box-sizing: border-box;
  padding:  96px 304px 104px;
}

.button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-button {
  background: #82B3D3;
}

.contacts-phone {
  width: 331px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  text-decoration: none;
}

.logo-1 {
  width: 114.9px;
  justify-content: start;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 45px 70px 35px;
  box-sizing: border-box;
}

.footer-social-list{
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.footer-social-item {
  padding: 0 13px;

}

.footer-contacts{
  display: flex;
  justify-content: center;
  align-items: center;

}
.photo-logo-1{
  display: flex;
  align-items: center;
}

