@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  position: relative;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 23px;
}

.visually-hidden {
  visibility: hidden;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 105px;
  padding: 0 70px;
  width: 1200px;
  height: 64px;
  box-sizing: border-box;
  align-items: center;
  flex-grow: 1;
}

.navigation-item {
  list-style-type: none;
  display: flex;
}

.navigation-item2 {
  display: flex;
  gap: 25px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navigation-link-likes {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  width: 44px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.likes {
  display: block;
  width: 44px;
  height: 64px;
  background-image: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.likes-num {
  text-align: center;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  margin-left: 20px;
  align-items: center;
  margin-top: 11px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
}

.line {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  border: 2px;
  background-color: #756257;
  right: 1px;
  left: 1px;
  bottom: 4px;
  height: 2px;
}

.navigation-link-button {
  background: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 34px 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  font-family: "PT Sans", sans-serif;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  margin-left: 44px;
}

.logoLink {
  z-index: 2;
  margin-top: 7px;
}

.logo {
  display: block;
}

.my-flex-container {
  display: flex;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  height: 282px;
  top: 485px;
}

.welcome-text {
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 44px;
}

.welcome-text-h1 {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.welcome-text-p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  align-items: center;
}

.banner {
  width: 100%;
  height: 485px;
  margin: 0 auto;
  position: relative;
  background: url(../images/index-background.jpg) 0 0 no-repeat;
}

.banner:before {
  content: '';
  background: url(../images/welcome.png) 0 0 no-repeat;
  width: 458px;
  height: 352px;
  position: absolute;
  top: 51px;
  left: 371px;
}

.banner:after {
  content: '';
  background: url(../images/divider.png) 0 0 no-repeat;
  display: block;
  width: 100%;
  height: 57px;
  position: absolute;
  top: 429px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.photo-2 {
  width: 800px;
}

.photo-3 {
  width: 800px;
}

.advantages-item {
  width: 277px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 85px;
  padding-bottom: 9px;
}

.promo-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  align-content: center;
  padding-top: 10px;
}

.promo-food {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 80px 85px;
  background: #FFFFFF;
}

.promo-food-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;
}

.city-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  text-align: center;
}

.advantages-block {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  font-size: 30px;
  text-align: center;
}

.city-block-1 {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 0 85px;
  background: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-white {
  width: 60px;
  height: 2px;
  background-color: #fff;
  opacity: .3;
  margin-top: 10px;
}

.line-gray {
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: .3;
  margin-bottom: -13px;
}

.city-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 73px;
}

.city-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
}

.promo-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 30px;
  text-align: center;
  justify-content: space-between;
}

.promo-house {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 80px 85px;
  background: rgba(131, 179, 211, 0.2);
}

.promo-house-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
}

.souvenir-block {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 80px 85px;
  background: rgba(131, 179, 211, 0.2);
}

.block-square {
  width: 400px;
  height: 384px;
  background-size: auto, cover;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-road {
  width: 400px;
  height: 384px;
  background-size: auto, cover;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-tourists {
  width: 400px;
  height: 384px;
  background-size: auto, cover;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.souvenir-block-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
}

.advantages-img {
  margin: auto;
  display: block;
}

.advantages-img1 {
  background-image: url("../images/house.svg");
  width: 75px;
  height: 72px;
}

.advantages-img2 {
  width: 74px;
  height: 70px;
  background-image: url("../images/food.svg");
}

.advantages-img3 {
  background-image: url("../images/souvenir.svg");
  width: 64px;
  height: 76px;
}

.bridge-block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 30px;
  text-align: center;
}

.bridge-block-1 {
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-size: auto, cover;
  box-sizing: border-box;
  padding: 75px 85px;
  color: #ffffff;
  background: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bridge-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.bridge-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 43px;
}

.field {
  width: 452px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  border: none;
  font-family: "PT Sans", sans-serif;
}

.second-title-1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-block {
  background-image: url("../images/photo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 107px;
  flex: none;
  box-sizing: border-box;
  background-size: cover;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.newsletter-title-p {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 54px;
}

.index-columns-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 96px 304px 96px;
}

.unification {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.index-columns-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.index-columns-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  display: flex;
  margin-top: 0;
}

.index-hotel-search {
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  flex-wrap: nowrap;
  padding: 8px 50px;
  box-sizing: border-box;
  border: none;
  width: 376px;
  white-space: nowrap;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-top: 32px;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  padding: 8px 50px;
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  padding-left: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.footer-social-list {
  display: flex;
  align-items: center;
  padding-left: 69px;
  margin: 0;
}

.footer-social-item {
  padding: 0 13px;
  list-style-type: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

.photo-logo-1 {
  display: flex;
  align-items: end;
}

.logo-1 {
  width: 114px;
  justify-content: start;
  margin: 0 71px;
}
